<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
      <script>
      	
        function showList(){

        var mWinnerName = "{{ winner_name | safe }}" ;
        var mWinnerImg = "{{ winner_img | safe }}" ;


        // if(mFollowersList.length!==0){

        //    results = "<table>";
        //     for (var i=0; i<mFollowersList.length; i=i+2) {

        //         results += "<tr><td>" + mFollowersList[i] + "</td>"; 

        //         if(i+1 < mFollowersList.length){
        //                         results += "<td>" + mFollowersList[i+1] + "</td></tr>";  
        //         }

        //         else{
        //                      results += "<td></td></tr>";   
        //         }
        //     }

        // results += "<table><br /> <br />";

        //  var div = document.getElementById("mListContainer");
        // div.innerHTML = results; 



        //    // document.getElementById("mListContainer").innerHTML = mFollowersList;

        //    }

        document.getElementById("mNameContainer").innerHTML = mWinnerName;
        document.getElementById("mImgContainer").src = mWinnerImg;

        }
      	

      </script>

      <div>

            <button onclick="showList()" id="view_btn" type="button">View the List</button>

            <p id="mNameContainer"></p>
            <img src="" id="mImgContainer" />
  
      </div>
</body>
</html>