<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tweeway</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{{url_for('static', filename="img/favicon.ico")}}" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{{url_for('static', filename="css/bootstrap.css")}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="fonts/font-awesome/css/font-awesome.css")}}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{{url_for('static', filename="css/style.css")}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="css/prettyPhoto.css")}}">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{{url_for('static', filename= "js/modernizr.custom.js")}}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<script>

    function clicked(){

        var mUserName = document.getElementById('usr_name').value;

        if(mUserName.length!==0){
          // alert("Data entered");

          $.ajax({

              url : '/receiveName',
              data : mUserName,
              type : 'POST',
              success: function(response) {
                console.log(response);
              },
              error: function(error) {
                console.log(error);
              }
          });
        }

    }






</script>
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar">
      </span>
      <span class="icon-bar"></span>
         <span class="icon-bar"></span> </button>
         <a class="navbar-brand" href="/">Tweeway<strong></strong></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" class="page-scroll"><strong>Home</strong></a></li>
        <li><a href="#services-section" class="page-scroll"><strong>How it works</strong></a></li>
        <li><a href="#works-section" class="page-scroll"><strong>Get Started</strong></a></li>
        <li><a href="#about-section" class="page-scroll"><strong>About</strong></a></li>
        <li>
           <a href="https://github.com/rakeshsenapathi/TweeWay" class="page-scroll"><strong>Fork</strong></a>
        </li>
        <li><a href="#contact-section" class="page-scroll"><strong>Contact</strong></a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

<!-- Header -->
<header class="text-center" name="home">
  <div class="intro-text">
    <h1>Welcome to <strong>TweeWay</strong></h1>
    <p>Giveaways through Twitter made easy</p>
    <a href="#services-section" class="btn btn-default btn-lg page-scroll">LEARN MORE</a> </div>
</header>

<!-- How it works Section -->
<div id="services-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>How it works</h2>
      <hr>
      <div class="clearfix"></div>
      <p>TweeWay offers a plethora of features to make sure that your GiveAway is hassle free!</p>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-desktop"></i>
        <h4>Get Started</h4>
        <p> Input your Twitter screen name to get started</p>
      </div>
    
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-gears"></i>
        <h4>Processing</h4>
        <p>Using Twitter API, we will process the list of all your followers and generate random winners using our random function</p>
      </div>

      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-rocket"></i>
        <h4>Results</h4>
        <p> Get the results to your email address!</p>
      </div>
    </div>
  </div>
</div>
<!-- Get Started Section -->
<div id="works-section">
  <div class="container"> <!-- Container -->
    <div class="section-title text-center center">
      <h2>Get Started</h2>
      <hr>
      <div class="clearfix"></div>
      <p>Enter your Twitter Screen Name to proceed further</p>
    </div>



    <form class="form-signin" action="/" method="post" role="form">

      <div class="card" style="padding: 30px; margin-left: 50px; margin-right: 50px;" >


        <div class="form-group">

          <label for="usr">Screen Name</label>
          <input type="text" class="form-control" id="usr_name" name= "usr_name">

        </div>


        <button type="button" class="btn btn-info" style="display: block; margin: 0 auto;" id="send_btn" onclick="clicked()">
            <a href="/show">Search</a>
        </button>

      </div>

    </form>

  </p> 
</div>
</div>
    </div>
</div>
<div id="social-section">
  <div class="container">
    <div class="social">
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <div class="fnav">
      <p>Copyright &copy; Helios. Designed by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript" src="{{url_for('static', filename="js/jquery.1.11.1.js")}}"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="{{url_for('static', filename="js/bootstrap.js")}}"></script> 
<script type="text/javascript" src="{{url_for('static', filename="js/SmoothScroll.js")}}"></script> 
<script type="text/javascript" src="{{url_for('static', filename="js/jquery.counterup.js")}}"></script> 
<script type="text/javascript" src="{{url_for('static', filename="js/waypoints.js")}}"></script> 
<script type="text/javascript" src="{{url_for('static', filename="js/jquery.prettyPhoto.js")}}"></script> 
<script type="text/javascript" src="{{url_for('static', filename="js/jquery.isotope.js")}}"></script> 
<script type="text/javascript" src="{{url_for('static', filename="js/jqBootstrapValidation.js")}}"></script> 
<script type="text/javascript" src="{{url_for('static', filename="js/contact_me.js")}}"></script> 

<!-- Javascripts
    ================================================== --> 
<script type="text/javascript" src="{{url_for('static', filename="js/main.js")}}"></script>
</body>
</html>